<form action="/create" method="GET">
    <input type="number" id="userInput" name="amountOfRows" onsubmit="" placeholder="Number of rows">
    <button type="submit" id="generateCSV">Generate CSV</button>

</form>
